<%= link_to blogs_path(type_action: "category"), remote: true do %>
    <li id="root" class="<%= params[:category].nil? ? "active" : "" %>" onclick="return active('root')">すべて</li>
<% end %>
<%= link_to blogs_path(type_action: "category", get_suggest_action: "suggest"), remote: true do %>
    <li id="suggest" onclick="return active('suggest')">オススメ</li>
<% end %>
<% @category.each do |category| %>
    <%= link_to blogs_path(category: category.id, type_action: "category"), remote: true do %>
        <li id="<%= category.id %>" onclick="return active(<%= category.id%>, <%= @category.count  %>)"><%=  category.name %></li>
    <% end %>
<% end %>
<%  %>
<%=  %>
<script>
  function active(num, category_count) {
      $(".slick-slide").find(".active").removeClass("active");
      if(num == 'root'){
          $("#root").addClass("active");
          $(".menu-bar ul .slick-list").css("margin-left", "-74vw");
      } else if(num == 'suggest'){
          $("#suggest").addClass("active");
          $(".menu-bar ul .slick-list").css("margin-left", "-23vw");
      } else {
          var idNum = "#" + num;
          $(idNum).addClass("active");
          if(num == (category_count - 1)){
            $(".menu-bar ul .slick-list").css("margin-left", "30vw");
          } else if (num == category_count){
              $(".menu-bar ul .slick-list").css("margin-left", "73vw");
          }else {
            $(".menu-bar ul .slick-list").css("margin-left", "-19vw");
          }
      }
  }
</script>