<div class="col-xs-3 action">
  <img src="/assets/biglike.jpg" alt="">
  <span><p><%= @blog.biglikes_count %></p></span>
</div>
<div class="col-xs-3 action">
  <span><img src="/assets/like.jpg" alt=""></span>
  <span><p><%= @blog.likes_count %></p></span>
</div>
<div class="col-xs-3 action">
  <span><img src="/assets/dislike.jpg" alt=""></span>
  <span><p><%= @blog.dislikes_count %></p></span>
</div>
<div class="col-xs-3 action">
  <span><img src="/assets/bigdislike.jpg" alt=""></span>
  <span><p><%= @blog.bigdislikes_count %></p></span>
</div>
<div class="hidden check-action" action="<%= @check_action %>"></div>