<div class="row menu-bar" >
  <ul class="autoplay">
    <a href=<%= blogs_path %>><li class="<%= params[:category].nil? ? "active" : "" %>">すべて</li></a>
    <% @category.each do |category| %>
      <a href="<%= blogs_path(category: category.id) %>"><li class="<%= params[:category].to_i.eql?(category.id) ? "active" : "" %>"><%=  category.name %></li></a>
    <% end %>
  </ul>
</div>
<div class="main-view">
  <ul id="my-blogs-user" >
    <%= render 'blog' %>
  </ul>
  <% if @blogs.count.eql? 10 %>
    <% if params[:category].nil? %>
      <%= link_to 'Load More Posts', blogs_path(page: @blogs.next_page), class: 'load-more-posts', remote: true  %>
    <% else %>
      <%= link_to 'Load More Posts', blogs_path(page: @blogs.next_page, category: params[:category]), class: 'load-more-posts', remote: true  %>
    <% end %>
  <% end %>
</div>
