<div id="blog_detail_and_author">
  <div class="view-detail" id="view-detail">
    <div class="row">
      <% if @blog.suggest_status.eql?("available") %>
        <div class="promoted">
          <img src="/assets/promoted.png" alt="">
        </div>
      <% end %>
      <div class="blog">
        <div class="short-content">
          <p><%= @blog.title %></p>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-6">
            <div class="category">
              <p><%= @blog.category.name %></p>
            </div>
            <div class="publish-time">
              <p><%= format_date_in_list @blog.public_time %></p>
            </div>
          </div>
          <div class="col-xs-6" id="reaction-ems">
            <%= render 'reaction' %>
          </div>
        </div>
        <div class="row">
          <%= render 'social_share_btn' %>
        </div>
        <div class="row">
          <div class="content">
            <img src=<%= @blog.intro_image.url %> alt="">
            <p>
              <%= @blog.content.html_safe %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="author">
            <div class="row-image-info">
              <%= image_tag "author-image-blog.png" %>
              <div class="author-info">
                <p>この記事を書いた人</p>
                <div class="author-name">
                  <p><%= @blog.author_name %></p>
                </div>
                <p><%= @blog.author_position %> / <%= @blog.author_age %>歳</p>
              </div>
            </div>
            <div class="row-btn-detail">
              <button class="btn-detailed-author" id="btn_author" onclick="display_author_screen()" >
                <div class="row">
                  <p>ナルフォード先生のプロフィールを見る</p>
                  <img src="/assets/arrow.png" alt="">
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="review" >
        <p class="review-title">参考になったかな？</p>
        <div class="row upper" >
          <div class="col-xs-6 left review-button " action="biglike" id="biglike">
            <img src="/assets/review-frame.png" alt="" class="review-frame">
            <img src="/assets/biglike.png" alt="" class="icon">
            <img src="/assets/review-white-frame.png" alt="" class="review-white-frame">
            <img src="/assets/tick.png" alt="" class="tick">
            <p>なるほど</p>
          </div>
          <div class="col-xs-6 review-button right" action="like" id="like">
            <img src="/assets/review-frame.png" alt="" class="review-frame">
            <img src="/assets/like.png" alt="" class="icon">
            <img src="/assets/review-white-frame.png" alt="" class="review-white-frame">
            <img src="/assets/tick.png" alt="" class="tick">
            <p>おもしろい</p>
          </div>
        </div>
        <div class="row lower" >
          <div class="col-xs-6 review-button left" action="dislike" id="dislike">
            <img src="/assets/review-frame.png" alt="" class="review-frame">
            <img src="/assets/dislike.png" alt="" class="icon">
            <img src="/assets/review-white-frame.png" alt="" class="review-white-frame">
            <img src="/assets/tick.png" alt="" class="tick">
            <p>難しい</p>
          </div>
          <div class="col-xs-6 review-button right" action="bigdislike" id="bigdislike">
            <img src="/assets/review-frame.png" alt="" class="review-frame">
            <img src="/assets/bigdislike.png" alt="" class="icon">
            <img src="/assets/review-white-frame.png" alt="" class="review-white-frame">
            <img src="/assets/tick.png" alt="" class="tick">
            <p>がっかり</p>
          </div>
        </div>
      </div>
      <div class="row comment">
        <p>ご意見・ご感想をお聞かせください</p>

        <div class="text-area" >
          <% if @blog_comments %>
              <% @blog_comments.order(:created_at).each do |comment| %>
                  <%= render 'comments/comment_message', comment: comment %>
              <% end %>
              <div id="comment_sentences">
              </div>
          <% end %>
          <br>
          <% if current_user %>
            <%= form_for Comment.new, method: :post, remote: true do |f| %>
              <%= f.text_area :content, placeholder: "投稿内容を入力してください" %>
              <%= f.hidden_field :blog_id, value: @blog.id %>
              <% if current_user %>
                  <%= f.hidden_field :user_id, value: current_user.id %>
              <% end %>
              <%= button_tag "送信する", id: "btn_comment" %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="social-bottom">
        <div class="title-social">
          <img src="/assets/social-icon.png" alt="">
          <p>SNSでシェアする</p>
        </div>
        <%= render 'social_share_btn' %>
      </div>
    </div>
  </div>
</div>
<script>
    var check_user_action = "<%= @check_action %>"
    $(".review-button").removeClass("review-active");
    $("#"+ check_user_action).addClass("review-active");
    $(".review-button").on("click", function(){
        var get_action = $(this).attr("action");
        var check_action = $(".check-action").attr("action");
        $(".review-button").removeClass("review-active");
        if(get_action == check_action){
            $.ajax({
                url: "/reactions/destroy",
                dataType: "script",
                method: "delete",
                data: {
                    user_id: "<%= current_user ? current_user.id : "" %>",
                    blog_id: <%= @blog.id %>,
                    user_action: get_action
                }
            });
        } else {
            $(this).addClass("review-active");
            $.ajax({
                url: "/reactions/create",
                dataType: "script",
                method: "post",
                data: {
                    user_id: "<%= current_user ? current_user.id : "" %>",
                    blog_id: <%= @blog.id %>,
                    user_action: get_action
                }
            });
        }
    });
    function display_author_screen(){
        window.location.href = "<%= blog_authors_path(@blog) %>"
    }
</script>


