<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js">
<![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js">
<![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8"/>
  <title>Terminal | Admin Login</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all"
        rel="stylesheet" type="text/css"/>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application-admin", media: "all" %>
  <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body class=" login">
<div class="container">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info" >
      <div class="panel-heading">
        <div class="panel-title">Sign In</div>
      </div>

      <div style="padding-top:30px" class="panel-body" >

        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-horizontal") do |f| %>
          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <%= f.text_field :username, autofocus: true,
                             class: "form-control form-control-solid placeholder-no-fix", autocomplete: "off",
                             placeholder: t("login.username") %>
          </div>

          <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <%= f.password_field :password,
                                 class: "form-control form-control-solid placeholder-no-fix",
                                 autocomplete: "off", placeholder: t("login.password") %>
          </div>
          <div style="margin-top:10px" class="form-group">
            <div class="col-sm-12 controls">
              <%= f.button t("login.login_btn"), class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "application-admin" %>
</body>
</html>