<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t "admin.blog.table.id" %></th>
    <th><%= t "admin.blog.table.create_at" %></th>
    <th><%= t "admin.blog.table.title" %></th>
    <th><%= t "admin.blog.table.category" %></th>
    <th><%= t "admin.blog.table.suggest" %></th>
    <th><%= t "admin.blog.table.author" %></th>
    <th><%= t "admin.blog.table.image" %></th>
    <th><%= t "admin.blog.table.public" %></th>
    <th><%= t "admin.blog.table.public_time" %></th>
    <th><%= t "admin.blog.table.action" %></th>
  </tr>
  </thead>
  <tbody>
  <% @blogs.each_with_index do |blog, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= format_date_in_japan blog.created_at %></td>
        <td><%= blog.title %></td>
        <td><%= blog.category.name %></td>
        <td class="text-center">
          <div id="<%= blog.suggest_status == "available" ? "circle" : "" %>"></div>
        </td>
        <td><%= blog.author_name %></td>
        <td><%= image_tag blog.intro_image, class: "img-thumbnail", size: "10%x10%" %></td>
        <td><%= blog.public_status %></td>
        <td>
          <input type='hidden' class="form-control date-picker" id="input-blog-<%= blog.id %>" />
          <%= format_date_in_japan blog.public_time %>
          <div class="row">
            <%= link_to t("admin.blog.create.form.list"), "javascript:void(0)", class: "btn default inline-edit", id: "#{blog.id}" %>
            <% if blog.public_status == "published" %>
              <%= link_to t("admin.blog.table.stop_public"), admin_blog_path(id: blog.id, params: {blog: {public_status: 0}}),
                method: :patch,
                remote: :true, class: "btn btn-danger" %>
            <% end %>
          </div>
        </td>
        <td>
          <%= link_to t("admin.blog.create.form.list"), admin_blogs_path, class: "btn default", id: "inline-edit" %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
