<div class="form-group">
  <%= paginate @blogs %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t "admin.blog.table.id" %></th>
      <th><%= t "admin.blog.table.create_at" %></th>
      <th><%= t "admin.blog.table.title" %></th>
      <th><%= t "admin.blog.table.category" %></th>
      <th><%= t "admin.blog.table.suggest" %></th>
      <th><%= t "admin.blog.table.author" %></th>
      <th><%= t "admin.blog.table.image" %></th>
      <th><%= t "admin.blog.table.public" %></th>
      <th width="160"><%= t "admin.blog.table.public_time" %></th>
      <th width="100"><%= t "admin.blog.table.action" %></th>
    </tr>
  </thead>
  <tbody id="body-blogs">
    <% @blogs.each_with_index do |blog, index| %>
      <tr id="<%= blog.id %>">
        <%= render "table_blog_detail", blog: blog, index: index %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="form-group">
  <%= paginate @blogs %>
</div>