<%= form_for @blog, url: {action: action}, html: {class: "form-horizontal", multipart: true} do |f| %>
  <%= hidden_field_tag 'type_action', action %>
  <div class="form-group">
    <span class="col-sm-1 btn btn-primary nohover" id=title"><%= t "admin.blog.create.form.title" %></span>
    <div class="col-sm-11">
      <%= f.text_field :title, autocomplete: "off", id: "title", class: "form-control", placeholder: "必須255文字以内" %>
    </div>
    <% unless show_errors(@blog, :title).nil? %>
      <div class="col-sm-11 col-sm-offset-1">
        <% show_errors(@blog, :title).each do |msg| %>
          <span class="help-block text-danger-ems"><%= msg %></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <span for="title" class="col-sm-1 btn btn-primary nohover">
      <%= t "admin.blog.create.form.category" %>
    </span>
    <div class="col-sm-3">
      <div class="row">
        <div class="col-sm-9">
          <%= f.select :category_id, options_for_select(Category.all.map{|s|[s.name, s.id]}),
            {}, { :class => 'form-control select2_category' } %>
        </div>
        <div class="col-sm-3">必須</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <span for="public_time" class="col-sm-1 btn btn-primary nohover">
      <%= t "admin.blog.create.form.time" %>
    </span>
    <div class="col-sm-3">
      <%= f.text_field :public_time, value: f.object.public_time ? f.object.public_time : "",
        autocomplete: "off", placeholder: "必須",
        id: "datetimepicker4", class: "form-control date-picker" %>
    </div>
    <% unless show_errors(@blog, :public_time).nil? %>
      <div class="col-sm-11 col-sm-offset-1">
        <% show_errors(@blog, :public_time).each do |msg| %>
            <span class="help-block text-danger-ems"><%= msg %></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <span for="public_status" class="col-sm-1 btn btn-primary nohover">
      <%= t "admin.blog.create.form.public" %>
    </span>
    <div class="col-sm-11">
      <label>
        <%= f.check_box :public_status, {checked: f.object.published? ? true : false}, checked_value = Settings.blog.status.published,
          unchecked_value = Settings.blog.status.draft %>   <%= t "admin.blog.create.form.setting_public" %>
      </label>
    </div>
  </div>

  <div class="form-group">
    <span for="suggest_status" class="col-sm-1 btn btn-primary nohover">
      <%= t "admin.blog.create.form.suggest" %>
    </span>
    <div class="col-sm-11">
      <label>
        <%= f.check_box :suggest_status, {checked: f.object.available? ? true : false}, checked_value = Settings.blog.suggest.available,
          unchecked_value = Settings.blog.suggest.unavailable %> <%= t "admin.blog.create.form.setting_suggest" %>
      </label>
    </div>
  </div>

  <div class="form-group">
    <span for="intro_image" class="col-sm-1 btn btn-primary nohover long-text">
      <%= t "admin.blog.create.form.intro_image" %>
    </span>
    <div class="col-sm-11">
      <div class="file-field"><%= f.file_field :intro_image, class: "hide" %></div>
      <div class="image-preview">
        <%= link_to image_url(f.object.intro_image_url ? f.object.intro_image_url : Settings.default_upload_icon) do %>
          <%= image_tag(f.object.intro_image_url ? f.object.intro_image_url : "upload-icon.png", class: "img-responsive") %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-11 col-sm-offset-1">
      <p>必測/2MB以内/PNG,JPEGのみ</p>
    </div>
    <div class="col-sm-11 col-sm-offset-1">
      <%= link_to t("admin.blog.create.form.open_file"), "javascript:void(0)", class: "edit-img btn btn-default" %>
    </div>
    <% unless show_errors(@blog, :intro_image).nil? %>
      <div class="col-sm-11 col-sm-offset-1">
        <% show_errors(@blog, :intro_image).each do |msg| %>
          <span class="help-block text-danger-ems"><%= msg %></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <span for="content" class="col-sm-1 btn btn-primary nohover">
      <%= t "admin.blog.create.form.content" %>
    </span>
    <div class="col-sm-11">
      <%= link_to t("admin.blog.create.form.preview"), "#",
        class: "body-preview", id: "preview-button" %>
    </div>
    <div class="col-sm-11 col-sm-offset-1">
      <%= f.cktext_area :content, rows: 10, id: "editor1" %>
    </div>
    <% unless show_errors(@blog, :content).nil? %>
        <div class="col-sm-11 col-sm-offset-1">
          <% show_errors(@blog, :content).each do |msg| %>
              <span class="help-block text-danger-ems"><%= msg %></span>
          <% end %>
        </div>
    <% end %>
  </div>

  <div class="form-group">
    <label for="content" class="col-sm-2">
      <h3><%= t "admin.blog.create.form.setting_author" %></h3>
    </label>
  </div>

  <div class="form-group">
    <span for="author_name" class="col-sm-1 btn btn-primary nohover">
      <%= t "admin.blog.create.form.author_name" %>
    </span>
    <div class="col-sm-6">
      <%= f.text_field :author_name,
        value: f.object.author_name ? f.object.author_name : t("admin.blog.create.form.name_default"),
        autocomplete: "off", id: "author_name", class: "form-control", placeholder: "必須/32文宇以内"  %>
    </div>
    <% unless show_errors(@blog, :author_name).nil? %>
      <div class="col-sm-11 col-sm-offset-1">
        <% show_errors(@blog, :author_name).each do |msg| %>
          <span class="help-block text-danger-ems"><%= msg %></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <span for="author_position" class="col-sm-1 btn btn-primary nohover">
      <%= t "admin.blog.create.form.author_position" %>
    </span>
    <div class="col-sm-6">
      <%= f.text_field :author_position,
        value: f.object.author_position ? f.object.author_position : t("admin.blog.create.form.position_default"),
        autocomplete: "off", id: "author_position", class: "form-control", placeholder: "必須/32文宇以内" %>
    </div>
    <% unless show_errors(@blog, :author_position).nil? %>
      <div class="col-sm-11 col-sm-offset-1">
        <% show_errors(@blog, :author_position).each do |msg| %>
          <span class="help-block text-danger-ems"><%= msg %></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <span for="author_age" class="col-sm-1 btn btn-primary nohover">
      <%= t "admin.blog.create.form.author_age" %>
    </span>
    <div class="col-sm-3">
      <%= f.text_field :author_age,
        value: f.object.author_age ? f.object.author_age : t("admin.blog.create.form.age_default"),
        autocomplete: "off", id: "author_age", class: "form-control" %>
    </div>
    <% unless show_errors(@blog, :author_age).nil? %>
      <div class="col-sm-11 col-sm-offset-1">
        <% show_errors(@blog, :author_age).each do |msg| %>
          <span class="help-block text-danger-ems"><%= msg %></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <span for="author_image" class="col-sm-1 btn btn-primary nohover">
      <%= t "admin.blog.create.form.author_image" %>
    </span>
    <div class="col-sm-11">
      <div class="file-field"><%= f.file_field :author_image, class: "hide" %></div>
      <div class="image-preview">
        <%= link_to image_url(f.object.author_image_url ? f.object.author_image_url : Settings.default_upload_icon) do %>
          <%= image_tag f.object.author_image_url ? f.object.author_image_url : Settings.default_upload_icon, class: "img-responsive" %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-11 col-sm-offset-1">
      <p>必測/2MB以内/PNG,JPEGのみ</p>
    </div>
    <div class="col-sm-11 col-sm-offset-1">
      <%= link_to t("admin.blog.create.form.open_file"), "javascript:void(0)", class: "edit-img btn btn-default" %>
    </div>
    <% unless show_errors(@blog, :author_image).nil? %>
      <div class="col-sm-11 col-sm-offset-1">
        <% show_errors(@blog, :author_image).each do |msg| %>
          <span class="help-block text-danger-ems"><%= msg %></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <div class="row">
      <div class="col-sm-offset-<%= action == 'update' ? 4 : 5 %> col-sm-1">
        <%= link_to t("admin.blog.create.form.list"), admin_blogs_path, class: "btn btn-default" %>
      </div>
      <div class="col-sm-1">
        <button type="submit" class="btn btn-info"><%= t "admin.blog.create.form.save" %></button>
      </div>
      <% if action == "update" %>
        <div class="col-sm-1">
          <%= link_to t("admin.blog.create.form.destroy"), admin_blog_path(@blog), method: :delete,
            class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div id="modal-window" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t("admin.blog.create.form.preview") %>></h4>
      </div>
      <div class="modal-body" id="preview-content">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>