<td class="text-center"><%= blog.id %></td>
<td class="text-center"><%= format_date_in_japan blog.created_at %></td>
<td class="text-center"><%= blog.title %></td>
<td class="text-center"><%= blog.category.name %></td>
<td class="text-center">
  <div id="<%= blog.suggest_status == "available" ? "circle" : "" %>"></div>
</td>
<td class="text-center"><%= blog.author_name %></td>
<td class="text-center"><%= image_tag blog.intro_image, class: "img-thumbnail", size: "160x100" %></td>
<td class="text-center"><%= t "admin.blog.search.#{blog.public_status}" %></td>
<td>
  <input type='hidden' class="form-control datetimepicker<%= blog.id %>" id="input-blog-<%= blog.id %>" />
  <span id="text-blog-<%= blog.id %>" class="text-center"><%= format_date_in_japan blog.public_time %></span>
  <div class="datetime-value hidden" id="<%= blog.public_time %>" value="<%= blog.id %>"></div>
  <p></p>
  <div class="row">
    <a class="btn btn-default inline-edit" id="<%= blog.id %>" ><%= t("admin.blog.table.change_time") %></a>
    <a class="btn btn-default done-edit hide" ><%= "完了" %></a>
    <% if blog.public_status == "published" %>
      <%= link_to t("admin.blog.table.stop_public"), admin_blog_path(id: blog.id, params: {type: "stop_public", index: index}),
        method: :patch,
        remote: :true, class: "btn btn-danger" %>
    <% end %>
    <% if blog.conditions_public_blog? %>
        <%= link_to t("admin.blog.table.public_blog"), admin_blog_path(id: blog.id, params: {type: "public_blog", index: index}),
          method: :patch,
          remote: :true, class: "btn btn-success" %>
    <% end %>
  </div>
</td>
<td>
  <div class="row">
    <%= link_to t("admin.blog.table.edit_blog"), edit_admin_blog_path(blog), class: "btn btn-default", id: "inline-edit" %>
    <%= link_to t("admin.blog.table.comment"), admin_blog_comments_path(blog),
      remote: :true, class: "btn btn-default", id: "inline-edit" %>
  </div>
</td>
