<strong>
  <h1 class="page-title">確認</h1>
</strong>

<div class="row">
  <div class="col-md-12 ">
    <div class="row">
      <div class="col-md-12 col-lg-10 col-lg-offset-1">
        <div class="portlet-body form">
          <%= form_for @blog, url: {action: @action}, html: {class: "form-horizontal", multipart: true} do |f| %>
          <%= hidden_field_tag "action_type", @action%>
            <div class="form-group">
              <span class="col-sm-1 btn btn-primary nohover" id=title"><%= t "admin.blog.create.form.title" %></span>
              <div class="col-sm-11">
                <div class="col-sm-6">
                  <h4 class=form-control"><%= @blog.id? ?  @blog_instane.title : f.object.title %></h4>
                  <%= f.hidden_field :title, value: @blog.id? ? @blog_instane.title : f.object.title %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <span class="col-sm-1 btn btn-primary nohover" id=title"><%= t "admin.blog.create.form.category" %></span>
              <div class="col-sm-6">
                <div class="col-sm-11">
                  <h4 class=form-control"><%= @blog.id? ?  @blog_instane.category.name : f.object.category.name %></h4>
                  <%= f.hidden_field :category_id, value: @blog.id? ? @blog_instane.category_id : f.object.category_id %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <span class="col-sm-1 btn btn-primary nohover" id=title"><%= t "admin.blog.create.form.time" %></span>
              <div class="col-sm-6">
                <div class="col-sm-11">
                  <h4 class=form-control"><%= format_date_in_japan(@blog.id? ? @blog_instane.public_time : f.object.public_time) %></h4>
                  <%= f.hidden_field :public_time, value: @blog.id? ? @blog_instane.public_time : f.object.public_time %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <span for="set_public" class="col-sm-1 btn btn-primary nohover">
                <%= t "admin.blog.create.form.public" %>
              </span>
              <div class="col-sm-6">
                <div class="col-sm-11">
                  <h4 class=form-control"><%= Blog.set_publics["#{@blog.id? ? @blog_instane.set_public : f.object.set_public}"] == 1 ? "公開中" : "非公開中" %></h4>
                  <%= f.hidden_field :set_public, value: Blog.set_publics["#{@blog.id? ? @blog_instane.set_public : f.object.set_public}"] %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <span for="suggest_status" class="col-sm-1 btn btn-primary nohover">
                <%= t "admin.blog.create.form.suggest" %>
              </span>
              <div class="col-sm-6">
                <div class="col-sm-11">
                  <h4 class=form-control"><%= Blog.suggest_statuses["#{@blog.id? ? @blog_instane.suggest_status : f.object.suggest_status}"] == 1 ? "オススメ" : "非オススメ" %></h4>
                  <%= f.hidden_field :suggest_status, value: Blog.suggest_statuses["#{@blog.id? ? @blog_instane.suggest_status : f.object.suggest_status}"]
                  %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <span for="intro_image" class="col-sm-1 btn btn-primary nohover long-text">
                <%= t "admin.blog.create.form.intro_image" %>
              </span>
              <div class="col-sm-6">
                <div class="col-sm-11">
                  <div class="image-preview">
                    <%= link_to "#" do %>
                      <%= image_tag @blog.id? ? @blog_instane.intro_image_url : f.object.intro_image_url, class: "img-responsive" %>
                        <%= hidden_field_tag "image_path", @blog.id? ? @blog_instane.intro_image.path : f.object.intro_image.path %>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <span for="content" class="col-sm-1 btn btn-primary nohover">
                <%= t "admin.blog.create.form.content" %>
              </span>
              <div class="col-sm-10">
                <div class="col-sm-11">
                  <div class="scoller"><%= raw(@blog.id? ? @blog_instane.content : f.object.content) %></div>
                  <%= f.hidden_field :content, value: @blog.id? ? @blog_instane.content : f.object.content %>
                </div>
              </div>
            </div>

            <h3 class="author-setting-ems"><%= t "admin.blog.create.form.setting_author" %></h3>

            <div class="form-group">
              <span for="author_name" class="col-sm-1 btn btn-primary nohover">
                <%= t "admin.blog.create.form.author_name" %>
              </span>
              <div class="col-sm-6">
                <div class="col-sm-11">
                  <h4 class=form-control"><%= @blog.id? ? @blog_instane.author_name : f.object.author_name %></h4>
                  <%= f.hidden_field :author_name, value: @blog.id? ? @blog_instane.author_name : f.object.author_name %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <span for="author_position" class="col-sm-1 btn btn-primary nohover">
                <%= t "admin.blog.create.form.author_position" %>
              </span>
              <div class="col-sm-6">
                <div class="col-sm-11">
                  <h4 class=form-control"><%= @blog.id? ? @blog_instane.author_name : f.object.author_name %></h4>
                  <%= f.hidden_field :author_position, value: @blog.id? ? @blog_instane.author_name : f.object.author_name %>
                </div>
              </div>
            </div>

            <div class="form-group">
              <span for="author_age" class="col-sm-1 btn btn-primary nohover">
                <%= t "admin.blog.create.form.author_age" %>
              </span>
              <div class="col-sm-6">
                <div class="col-sm-11">
                  <h4 class=form-control"><%= f.object.author_age %></h4>
                  <%= f.hidden_field :author_age, value: @blog.id? ? @blog_instane.author_age : f.object.author_age %>
                </div>
              </div>
            </div>
            <span for="intro_image" class="col-sm-1 btn btn-primary nohover long-text">
              <%= t "admin.blog.create.form.author_image" %>
            </span>
            <div class="col-sm-6">
              <div class="col-sm-11">
                <div class="image-preview">
                  <%= link_to "#" do %>
                    <% if @blog.id? %>
                      <%= image_tag @blog_instane.author_image.blank? ? Settings.default_upload_icon : @blog_instane.author_image , class: "img-responsive" %>
                    <% else %>
                      <%= image_tag f.object.author_image.blank? ? Settings.default_upload_icon : f.object.author_image , class: "img-responsive" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            </div>

            <div class="form-actions">
              <div class="row">
                <div class="col-sm-offset-4 col-sm-1">
                  <%= f.submit t("admin.blog.create.form.back"), class: "btn btn-default" %>
                </div>
                <div class="col-sm-1">
                  <%= f.submit t("admin.blog.create.form.save"), class: "btn btn-info" %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
